#contact-info{
  background-color: #75967A;
  color: white;
}
.jd-inverted{
  color: white;
}
.jd-emphase{
  background-color: #CFD9DB;
  color: #d66f1a;
  font-size: .9rem;
}
.jd-date{
  color: grey;
  font-size: small;
}
h1{
  color: #d66f1a;
  font-size: 1.7rem;
}
h2{
  color: #d66f1a;
  font-size: 1.4rem;
}
h3{
  font-size: 1rem;
  font-style: oblique;
}
a:link .jd-inverted {
  color: white;
}
.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: .8em;
  height: .8em;
  margin-right: .5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
}
@media print {
  body { 
    padding: 0px;
    margin: 0px;
  }
  #header{
    max-width: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  #resume{
    max-width: 100%;
    width: 100%;
  }
  #content{
    border: none !important;;
  }
  .print-page-break {
    page-break-before: always;
    margin-bottom: 4rem;
  }
}
@page {
  size: A4 paysage; 
  margin: 0cm; 
}